@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* https://github.com/microsoft/vscode-webview-ui-toolkit/blob/864372518fbb538c281ea5a503e08d3e4b8d0c2e/src/design-tokens.ts */
    --button-primary-background: #0e639c;
    --button-primary-foreground: #ffffff;
    --button-primary-hover-background: #1177bb;

    --dropdown-background: #767676;
    --dropdown-foreground: #f0f0f0;

    --input-background: #ffffff;
    --input-foreground: #3a3a3a;
    --input-placeholder-foreground: #7a7a7a;

    --td-border-color: rgb(230, 230, 230);
    --td-border-color-hover: rgb(199, 199, 199);
    --td-border-color-active: rgb(143, 143, 143);

    --page-padding: 5px;

    --gutter-color: #f0f0f0;

    --data-string: rgb(138, 4, 4);
    --data-string-placeholder: rgba(138, 4, 4, 0.6);
    --data-number: rgb(0, 128, 0);
    --data-number-placeholder: rgba(0, 128, 0, 0.6);
    --data-null: rgb(4, 63, 138);
    --data-null-placeholder: rgba(4, 63, 138, 0.6);
    --data-default: rgb(4, 63, 138);
    --data-default-placeholder: rgba(4, 63, 138, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 !important; // Override the VSCode's default
    overflow-x: hidden;
    background: #f0f0f0;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    color: black;
    font-size: 12px;
    height: 100vh;
}

h2 {
    font-weight: normal;
    margin-bottom: 5px;
    font-size: inherit;
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
}

li+li {
    margin-top: 5px;
}

select {
    font-size: inherit;
    border: 0;
    outline: 0;
    font-family: inherit;
    background-color: var(--dropdown-background);
    color: var(--dropdown-foreground);
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    cursor: pointer;

    &.primary {
        background-color: var(--button-primary-background);
        color: var(--button-primary-foreground);
    }

    &.primary:hover {
        background-color: var(--button-primary-hover-background);
    }

    &:focus {
        outline: 2px solid rgb(142, 197, 226);
    }
}

label:focus {
    outline: 2px solid rgb(142, 197, 226);
}

input[type=button]:focus {
    outline: 2px solid rgb(142, 197, 226);
}

input:not([type]),
input[type=text] {
    border: 0;
    outline: 0;
    background-color: var(--input-background);
    color: var(--input-foreground);
    font-family: inherit;
    font-size: inherit;
    padding-left: 0.5em;

    &:focus {
        outline: 2px solid rgb(142, 197, 226);
    }
}

textarea {
    border: 0;
    outline: 0;
    background-color: var(--input-background);
    color: var(--input-foreground);
    width: 100%;
    resize: vertical;
    display: block;
    font-family: inherit;
    font-size: inherit;
    padding-left: 0.5em;

    &:focus {
        outline: 2px solid rgb(142, 197, 226);
    }
}

::placeholder {
    color: var(--input-placeholder-foreground);
}

.data-editor-string::placeholder {
    color: var(--data-string-placeholder);
    font-style: italic;
}
.data-editor-number::placeholder {
    color: var(--data-number-placeholder);
    font-style: italic;
}
.data-editor-null::placeholder {
    color: var(--data-null-placeholder);
    font-style: italic;
}
.data-editor-default::placeholder {
    color: var(--data-default-placeholder);
    font-style: italic;
}

.ew-resize,
.ew-resize * {
    cursor: ew-resize !important;
}

.ns-resize,
.ns-resize * {
    cursor: ns-resize !important;
}

table.viewer {
    /* column */
    th.clickable:hover {
        background-color: var(--td-border-color-hover);
        cursor: pointer;
    }

    /* row */
    td.clickable:nth-child(1):hover:not(.no-hover) {
        background-color: var(--td-border-color-hover);
        cursor: pointer;
    }

    /* data */
    td.clickable:hover:not(.editing):not(:nth-child(1)) {
        background-color: rgba(207, 255, 255, 0.371);
        cursor: pointer;
    }

    td.editing,
    tr.editing,
    tr.editing td:nth-child(1),
    tr.editing td:nth-child(1):hover:not(.no-hover) {
        background-color: rgba(66, 159, 202, 0.384);
        outline: 1px solid rgb(142, 197, 226);
        cursor: default;
    }

    td.editing {
        outline: 1px solid rgb(142, 197, 226);

        pre {
            position: relative;

            &.cursor-line {
                animation: cursor-line 1s linear infinite;
            }

            textarea {
                position: absolute;
                padding: 0;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;

                &.single-click {
                    opacity: 0;
                    background: transparent;
                }
            }
        }
    }
}

@keyframes cursor-line {
    0% {
        box-shadow: -1.5px 0px 0px 0px #6a6a6a;
    }

    50% {
        box-shadow: -1.5px 0px 0px 0px #6a6a6a;
    }

    51% {
        box-shadow: -1.5px 0px 0px 0px transparent;
    }

    100% {
        box-shadow: -1.5px 0px 0px 0px transparent;
    }
}

/* codicon */
body > svg {
    display: none;
}

dialog::backdrop {
    @apply bg-black bg-opacity-50;
}

.tippy-box {
    font-size: 10px !important;
    border-radius: 0 !important;
}

.tippy-content {
    padding: 1px 4px !important;
}
